* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-link {
  color: white;
}

.AppBody {
  text-align: center;
  display: inline-block;
  width: 80%;
}

.user-table {
  margin-top: 30px;
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.user-th {
  font-family: SFDisplay;
  border: 1px solid #E0E0E0;
}

.user-td {
  font-family: SFDisplay;
  border: 1px solid #E0E0E0;
  text-align: left;
  padding: 10px;
}

.component-main-div {
  background-color: #FAFAFA;
  /* background-color: red; */
  padding: 10%;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  float: left;
}

button.link {
  background: none;
  border: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@font-face {
  font-family: "SFDisplay";
  /* font-weight: 400; */
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
