* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-link {
  color: white;
}

.AppBody {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.center-single {
  display: flex;
  justify-content: center;
}

.landing-page-div {
  background-image: url('./images/landingpageimage.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: cover;

}

#landing-page-h1 {
  padding-top: 10%;
  padding-bottom: 100%;
  /* background: rgba(0, 151, 19, 0.1);  */
}



.user-table {
  margin-top: 30px;
  border: 1px solid black;
  width: 90%;
  border-collapse: collapse;
  background-color: white;
}

.user-th {
  font-family: SFDisplay;
  border: 1px solid #E0E0E0;
}

.user-td {
  font-family: SFDisplay;
  border: 1px solid #E0E0E0;
  text-align: left;
  padding: 10px;
}

.tweet-details-div {
  /* display: inline-flex; */
}

.tweet-detail-table {
  /* display: inline-block; */
  /* float: left; */

  margin-top: 30px;
  border: 1px solid black;
  width: 90%;
  border-collapse: collapse;
  background-color: white;
}

.map {
  width: 90%;
  height: 400px;
}

.tweet-embed {
  margin-top: 100px;
  /* display: inline-block; */
  /* float: left; */
}

.component-main-div {
  background-color: #FAFAFA;
  /* background-color: red; */
  padding: 5%;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  float: left;
}

button.link {
  background: none;
  border: none;
}

#test-div {
  height: 100px;
  background-color: red;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@font-face {
  font-family: "SFDisplay";
  /* font-weight: 400; */
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
