#logo {
  margin-top: 6px;
  margin-right: 14px;
  float: left;
  width: 40px;
  height: 40px;
}

#three-line {
  width: 40px;
  height: 40px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.header {
  overflow: visible;
  background-color: #323232;
  padding: 5px;
  width: 100%;
}

#header-content {
  width: 80%;
  margin: 0 auto;
}

/* Style the header links */
.header a {
  font-family: SFDisplay;
  float: left;
  color: black;
  text-align: center;
  /* padding: 18px; */
  /* text-decoration: none; */
  font-size: 20px;
  line-height: 32px;
  /* border-radius: 4px; */
}

.dropdown-item {
  width: 100%;
}

.title {
  font-family: SFDisplay;
  float: left;
  color: white;
  text-align: center;
  padding-top: 14px;
  text-decoration: none;
  font-size: 10px;
  line-height: 25px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  pointer-events: none
}

.header a:hover {
  /* background-color: white; */
  color: black;
  text-decoration: none;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

@media only screen and (max-width: 600px) {
  #header-content {
    width: 100%;
    margin: 0 auto;
  }
}
